---
layout: default
title: Huxos Blog
sitemap:
  changefreq: daily
---

<ul class="posts-archive">
  {% for post in paginator.posts %}
    <li>
    <a href="{{ post.url }}"><h3>{{ post.title }}</h3></a>
      <span class="posts-archive__date">{{ post.date | date_to_string }}</span>
      {{ post.content | strip_html | truncatewords:42 }}
    </li>
  {% endfor %}
</ul>
<!-- 分页链接 -->
<div class="pagination">
  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
    <a href="/blog/" class="previous">Previous</a>
    {% else %}
    <a href="/blog/page{{ paginator.previous_page }}" class="previous">Previous</a>
    {% endif %}
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="/blog/page{{ paginator.next_page }}" class="next">Next</a>
  {% else %}
    <span class="next">Next</span>
  {% endif %}
</div>
