---
layout: default
---
<h1 class="post-title">{{ page.title }}</h1>
<p class="post-meta">{{ page.date | date_to_string }}</p>

<div class="post">
{{ content }}
</div>

<div class="post-comments">
    <a href="javascript:;" onclick='share_to_weibo()'>
        <i class="icon-weibo"></i>分享到微博</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  指正、疑问、评论可通过<a href="http://weibo.com/weihy511" rel="nofollow">Weibo(@PACMAN_)</a>联系我。
</div>

<script>
    function share_to_weibo(){
      location.href="http://service.weibo.com/share/share.php?title="+encodeURIComponent('{{page.title}} —— http://huxos.me')+"&url="+encodeURIComponent(location.href);
    }
</script>
